/* PostTypeSelect.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.post-type-select {
  text-align: center;
  margin-top: 50px;
}

.post-type-select h1 {
  font-size: 2em;
  color: #116E6A;
  margin-bottom: 120px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: auto;
}

.card h2 {
  margin: 15px 0;
  font-size: 1.7em;
}