.square-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px; /* Adjust this width to match your sidebar's design */
    /* Your existing sidebar styles */
  }
  
  .subject-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 200px; /* Adjust the margin as needed */
    margin-top: 150px;
    flex: 1;
  }
  
  .subject-categories .subject-category {
    flex: 1 1 calc(25% - 20px); /* Adjust percentage and margin as needed for responsiveness */
    margin: 10px;
  }

.search {
    margin-top: 20px;
}
  