/* FuncMain.css */

.func-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f8f9fa;
  }
  
  .func-content {
    max-width: 50%;
  }
  
  .func-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Cormorant Garamond", serif;
  }
  
  .func-buttons {
    display: flex;
    flex-direction: column;
  }
  
  .func-button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #116E6A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .func-button:hover {
    background-color: #116E6A;
  }
  
  .func-image img {
    max-width: 400px;
    height: auto;
  }
  