/* HeaderMain.css */
.header-main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px 20px;
    background-color: #f3f3f3; /* Change background color to gray */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .left-links, .right-links {
    display: flex;
    gap: 20px; /* Increase space between each link */
  }
  
  .left-links {
    justify-self: start;
  }
  
  .right-links {
    justify-self: end;
  }
  
  .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    font-family: "Cormorant Garamond", serif;
  }
  
  .logo-edu {
    color: #073f7ef2; /* Dark blue */
    letter-spacing: 3.5px; /* Increase space among characters */
  }
  
  .logo-hive {
    color: #80c4db; /* Light blue */
    letter-spacing: 2px; /* Increase space among characters */
  }
  
  .nav-link {
    text-decoration: none;
    color: #01060a;
    font-size: 18px;
    font-family: "Cormorant Garamond", serif;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  