/* PictureMain.css */

.picture-main {
    padding: 40px;
    text-align: center;
  }
  
  .picture-main h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Cormorant Garamond", serif;
  }
  
  .picture-main .highlight {
    color: #116E6A;
  }
  
  .picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .picture-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 1200px; /* Adjust the max-width as needed */
  }
  